/target
/env
/classes
/checkouts
/dist
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
*.iml
.cpcache
/seed_ref_data
tmp/
/batch-data
tmp-test-*/
test/*.edn
test/tx-data/*.edn
import-files-output-*/
seed_data/
test/resources/reference-import/template/
test/resources/reference-import/template.tar.gz
tmp-output/
tmp-perf-output/
tuple-tmp-output/
.pret-session/
/log/*
*.log
.auth/
datomic-socks-proxy
PRET_ERROR_DUMP
resources/info.edn
datomic-config.edn
.lsp
test/resources/perf-benchmark
.Rproj.user
*.Rproj
.datomic
