{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.28"}
        com.cognitect/anomalies {:mvn/version "0.1.12"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.11.969"}
        com.cognitect.aws/sns       {:mvn/version "697.2.391.0"}
        com.datomic/peer {:mvn/version "1.0.6735"
                          :exclusions [org.slf4j/jul-to-slf4j org.slf4j/slf4j-nop]}
        com.cognitect.aws/api       {:mvn/version "0.8.505"}
        com.cognitect.aws/s3        {:mvn/version "811.2.858.0"}
        com.cnuernber/charred {:mvn/version "1.033"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        clj-http/clj-http {:mvn/version "3.10.0"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/tools.logging {:mvn/version "0.4.1"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        benkamphaus/contextual {:git/url "https://github.com/benkamphaus/contextual.git"
                                :sha "b36cd30c167106e9bd2c6dbac3c75e4f58bb181a"
                                :exclusions [org.clojure/clojurescript]}
        ;; match clojure AWS api lib
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        org.clojure/data.zip {:mvn/version "1.0.0"}
        com.jcraft/jsch {:mvn/version "0.1.55"}
        com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.12.5"
                                             :exclusions [com.fasterxml.jackson.core/com.fasterxml.jackson.core]}
        com.amazonaws/aws-java-sdk-ec2 {:mvn/version "1.11.427"}
        com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.11.427"}
        com.amazonaws/aws-java-sdk-resourcegroupstaggingapi {:mvn/version"1.11.427"}
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :sha "106da669223a0232a0556e8cba5b4c2b0d7e6e99"}
        io.forward/yaml {:mvn/version "1.0.11"}}

 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {techascent/tech.ml.dataset {:mvn/version "7.007"}
                              org.postgresql/postgresql {:mvn/version "42.7.1"}
                              io.github.clojure/tools.build {:mvn/version "0.10.5"}}}
           :repl-server {:exec-fn clojure.core.server/start-server
                         :extra-paths ["dev" "test"]
                         :extra-deps {techascent/tech.ml.dataset {:mvn/version "7.007"}}
                         :server-daemon false
                         :exec-args {:name "repl-server"
                                     :port 5555
                                     :accept clojure.core.server/repl}}
           :build {:extra-paths ["build/"]
                   :deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
                   :ns-default build
                   :exec-fn uber}
           :test {:extra-paths ["test" "dev"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :verbose {:verbose true}}}
