;; Import Config:

{:unify/import       {:user        "test-user"
                      :mappings    "mappings.edn"
                      :import-name "test-import-1"}
 :dataset            {:name                      "Roh2017"
                      :description               "Integrated molecular analysis of tumor biopsies on sequential CTLA-4 and PD-1
             blockade reveals markers of response and resistance"
                      :doi                       "10.1126/scitranslmed.aah3560"
                      :assays                    [{:id               "nanostring"
                                                   :technology       :assay.technology/nanostring
                                                   :description      "gene expr via nanostring"
                                                   :measurement-sets [{:name         "baseline"
                                                                       :measurements [{:unify/input-file "processed/nanostring.txt"
                                                                                       :gene             "variable"
                                                                                       :sample           "sample"
                                                                                       :nanostring-count "value"}]}]}
                                                  {:name             "TCRseq"
                                                   :technology       :assay.technology/TCR-seq
                                                   :desc             "TCR sequencing"
                                                   :measurement-sets [{:name         "baseline"
                                                                       :measurements [{:unify/input-file "processed/tcr_clonality.txt"
                                                                                       :sample           "sample"
                                                                                       :tcr-clonality    "Clonality"}]}]}
                                                  {:name             "WES"
                                                   :technology       :assay.technology/WES
                                                   :description      "whole exome sequencing"
                                                   :measurement-sets [{:name         "baseline"
                                                                       :measurements [{:unify/input-file "processed/point_muts_indels_measurements.txt"
                                                                                       :sample           "Sample"
                                                                                       :variant          "id"
                                                                                       :unify/variable   "variable"
                                                                                       :unify/value      "value"
                                                                                       :unify/variables  {"t_ref_count"              :measurement/t-ref-count
                                                                                                          "t_alt_count"              :measurement/t-alt-count
                                                                                                          "n_ref_count"              :measurement/n-ref-count
                                                                                                          "n_alt_count"              :measurement/n-alt-count
                                                                                                          "Variant_Allele_Frequency" :measurement/vaf}}]}]}]




                      :clinical-observation-sets [{:name                  "all-clinical-observations"
                                                   :clinical-observations [{:unify/input-file               "processed/clinical_observations.txt"
                                                                            :clinical-observation/subject   "Patient ID"
                                                                            :clinical-observation/timepoint "timepoint"
                                                                            :unify/variable                 "variable"
                                                                            :unify/value                    "value"
                                                                            :unify/variables                {"pd1_RECIST"       :clinical-observation/recist
                                                                                                             "ctla-4_RECIST"    :clinical-observation/recist
                                                                                                             "Overall Survival" :clinical-observation/os}}]}]

                      :samples                   {:unify/input-file "processed/samples.txt"
                                                  :id               "sample"
                                                  :subject          "patient"
                                                  :timepoint        "time"
                                                  :pure             "tumor_purity"
                                                  :unify/constants  {:type     :sample.type/tumor
                                                                     :specimen :sample.specimen/ffpe}}

                      :subjects                  {:unify/input-file "processed/subjects.txt"
                                                  :id               "Patient ID"
                                                  :sex              "Sex"
                                                  :dead             "Dead (Y/N)"
                                                  :therapies        {:unify/input-file  "processed/therapies.txt"
                                                                     :treatment-regimen "regimen"
                                                                     :order             "order"
                                                                     :unify/reverse     {:unify/rev-variable "Patient ID"
                                                                                         :unify/rev-attr     :subject/therapies}}}

                      :treatment-regimens        [{:name "Nivolumab"}
                                                  {:name "Ipilimumab"}]

                      :timepoints                [{:type :timepoint/baseline
                                                   :id   "baseline"}
                                                  {:type :timepoint/eos
                                                   :id   "eos"}
                                                  {:type              :timepoint/pre-treatment
                                                   :treatment-regimen "Ipilimumab"
                                                   :relative-order    1
                                                   :id                "Ipilimumab/pre-treatment"}
                                                  {:type              :timepoint/treatment
                                                   :treatment-regimen "Ipilimumab"
                                                   :relative-order    2
                                                   :id                "Ipilimumab/treatment"}
                                                  {:type              :timepoint/treatment
                                                   :treatment-regimen "Ipilimumab"
                                                   :relative-order    3
                                                   :id                "Ipilimumab/post-treatment"}
                                                  {:type              :timepoint/pre-treatment
                                                   :treatment-regimen "Nivolumab"
                                                   :relative-order    1
                                                   :id                "Nivolumab/pre-treatment"}
                                                  {:type              :timepoint/treatment
                                                   :treatment-regimen "Nivolumab"
                                                   :relative-order    2
                                                   :id                "Nivolumab/treatment"}
                                                  {:type              :timepoint/post-treatment
                                                   :treatment-regimen "Nivolumab"
                                                   :relative-order    3
                                                   :id                "Nivolumab/post-treatment"}]}




 :genomic-coordinate {:unify/input-file "processed/point_muts_indels_coord.txt"
                      :contig           "chrom"
                      :start            "start"
                      :end              "end"
                      :strand           "strand"
                      :assembly         "assembly"
                      :id               "id"}

 :variant            {:unify/input-file "processed/point_muts_indels.txt"
                      :id               "id"
                      :coordinates      "coordinates"
                      :gene             "Hugo_Symbol"
                      :ref-allele       "ref_allele"
                      :alt-allele       "alt_allele"
                      :type             "Variant_Type"}}



