[{:name :genes
  :entity-id :gene/hgnc-symbol
  :count 42843
  :files ["all-coordinates-tx-data.edn"
          "all-genes-tx-data.edn"
          "all-gene-products-tx-data.edn"]}
 {:name :drugs
  :entity-id :drug/preferred-name
  :count 53715
  :proprietary true
  :files ["all-drug-tx-data.edn"]}
 {:name :diseases
  :entity-id :meddra-disease/preferred-name
  :count 23389
  :proprietary true
  :files ["all-disease-tx-data.edn"]}
 {:name :proteins-epitopes
  :entity-id :protein/uniprot-name
  :proprietary true  ; not really, but data not in test system, so exclude
  :count 77807
  :files ["all-protein-epitope-tx-data.edn"]}
 {:name :cell-types
  :entity-id :cell-type/co-name
  :count 2319
  :files ["all-cell-type-tx-data.edn"]}
 {:name :gdc-anatomic-sites
  :entity-id :gdc-anatomic-site/name
  :count 285
  :files ["all-anatomic-site-tx-data.edn"]}
 {:name :so-sequence-features
  :entity-id :so-sequence-feature/name
  :count 2482
  :proprietary true  ; not really, but data not in test system, so exclude
  :files ["all-so-sequence-features-tx-data.edn"]}
 {:name :nanostring-signatures
  :entity-id :nanostring-signature/name
  :count 42
  :proprietary true
  :files ["all-nanostring-signatures-tx-data.edn"]}]
